body {
  font-family: "Nazaf", Arial, sans-serif;
  background-color: #f8f9fa;
}
.p-header {
  background: linear-gradient(135deg, #2c3e50, #4ca1af);
  color: white;
  padding: 2rem 0;
  border-bottom: 5px solid #f1c40f;
  position: relative;
}
.user-icon-container {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #f1c40f;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.user-icon-heading {
  font-size: 2.2rem;
  color: #ffffff;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  cursor: pointer;
}
.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}
.logo {
  height: 80px;
  width: 80px;
  border: 5px solid #f1c40f;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  background-size: cover;
  background-position: center;
  /* transform: scale(1.2); */
}
.p-nav {
  background-color: #34495e;
}
.p-nav a {
  color: white;
  padding: 1rem;
  transition: all 0.3s;
}
.p-nav a:hover {
  background-color: #f1c40f;
  color: #2c3e50;
}
.hero-section {
  background-size: cover;
  padding: 5rem 0;
  text-align: center;
  color: black;
  margin-bottom: 3rem;
}
.feature-box {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  transition: transform 0.3s;
}
.feature-box:hover {
  transform: translateY(-5px);
}
.feature-icon {
  font-size: 2.5rem;
  color: #4caf50;
  margin-bottom: 1rem;
}
.p-footer {
  background-color: #34495e;
  color: white;
  padding: 2rem 0;
  margin-top: 3rem;
}
